<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="../bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="../app.css">
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="../styles/plugins.css">
    <link rel="stylesheet" href="../styles/layout.css">
    <link rel="stylesheet" href="../styles/custom.css">
    <link rel="stylesheet" href="../styles/components.css">
    <link rel="stylesheet" href="../styles/background_white.css">
    <link rel="stylesheet" href="../styles/themes/default.css">
    <script src="../bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<p>This is the partial for view 1.</p>

<body ng-controller="AppController"
      class="page-boxed page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-closed-hide-logo ng-scope"
      ng-class="{'page-sidebar-closed': settings.layout.pageSidebarClosed}">

<!-- uiView: bigContainer -->
<div ui-view="bigContainer" class="ng-scope">
    <div class="login ng-scope">
        <div class="content">
            <h3 class="form-title">Sign In</h3>

            <div flash-message="">
                <div data-ng-show="flash.getMessage().msg" class="flash ng-hide">
                    <div class="alert alert-danger">
                        <button class="close" data-dismiss="alert"></button>
                    </div>
                </div>
            </div>

            <form name="form" ng-submit="login()" class="loginForm ng-invalid ng-invalid-required ng-dirty" _lpchecked="1">
                <div class="margin-top-5">
                    <div class="form-group">
                        <label for="inputLoginName" class="control-label visible-ie8 visible-ie9">Login Name</label>

                        <div class="input-icon">
                            <i class="fa fa-user"></i>
                            <input type="text" required="" class="form-control ng-invalid ng-invalid-required ng-dirty"
                                   id="inputLoginName" placeholder="Login Name" name="loginName"
                                   ng-model="user.loginName" autocomplete="off"
                                   style="cursor: auto;">
                        </div>
                        <div data-ng-show="form.$submitted || form.loginName.$touched" class="has-error ng-hide">
                            <span data-ng-show="form.loginName.$error.required" class="help-block">Login name cannot be empty</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="userPassword" class="control-label visible-ie8 visible-ie9">Password</label>

                        <div class="input-icon">
                            <i class="fa fa-lock"></i>
                            <input type="password" class="form-control ng-dirty ng-valid ng-valid-required"
                                   name="password" required="" id="userPassword" placeholder="Password"
                                   ng-model="user.password" autocomplete="off"
                                   style="cursor: auto;">
                        </div>
                        <div data-ng-show="form.$submitted || form.password.$touched" class="has-error ng-hide">
                            <span data-ng-show="form.password.$error.required" class="help-block ng-hide">Password cannot be empty.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" id="submit" data-ng-disabled="form.$invalid" class="btn btn-lg green"
                               value="Sign in" disabled="disabled">
                    </div>


                    <div>
                        <h4>
                            Not a user?
                        </h4>

                    </div>

                    <div>
                        <a href="#/signUp" id="signUp">
                            Click here
                        </a>
                        to sign up
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>
</body>